/*navbar*/

div.container{
    text-align: center;
    background-color: rgb(216, 205, 190);
    
}

a{
    color: black;
}

nav a, nav button{
    margin-left: 10px;
}


/*pages*/
body{
    
    background-color: #ede5dd99;
}
form.login,form.signup{
    
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(216, 205, 190);
    border-radius: 4px;

}

form button{
    cursor: pointer;
}
div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid red;
    color: red;
    border-radius: 4px;
    margin: 20px 0;
}

/*input boxes change color when clicked*/
input:focus{
background-color: rgb(193, 214, 221);
}

/*Home Page*/

body.about{
    text-align: center;
    text-decoration: none;
    background-color: rgb(216, 205, 190);
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    font-size: smaller;
    
    
}
body.mission{
    text-align: center;
    text-decoration: none;
    background-color: rgb(216, 205, 190);
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    font-size: smaller;
    

}
body.mission a{
    text-align: center;
    color: brown;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    
}

